body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 25px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 10px; /* Same as the width of the sidenav */
  font-size: 22px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

div p {
  width:75%;
  margin-left: 150px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align : center;
  
}

.container{
   width:80%;
	background:#55d6aa ;
   margin : 0 auto;
}
header{
  background:#55d6aa ;
}
.nav {
  margin-left: 150px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  word-spacing: 910px;
}
nav{
  float : right;
}
nav ul{
   margin : 200;
   padding : 40; 
   list-style : none;
}
nav li{
  display : inline-block;
}
.logo{
   width: 300px;
   height:100px;
   padding : 10px 0;
}
table {width: 85%;}
table, th, td { 
	table-layout: fixed;
        border: 1px solid black; 
        border-collapse: collapse; 
        padding: 6px;
} 
 
